[data-theme="dark"] {
    --clr-primary: rgb(230, 230, 230);
    /* --bg-clr: #1a1b1e; */
    --bg-clr: #0d1117;
    --clr-alt: #161616;
    /* --bg-clr: #0a1538; */

    --blue: rgb(0, 183, 255);
    --grayish: #a9a9a9;

    --clr-neutral-100: #000;

    --clr-element: rgb(0, 140, 255);
}

* {
    pointer-events: all;
    user-select: text;
}

html {
    font-size: 16px;
}

*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

html {
    font-size: 17.5px;
}

body {
    overflow-x: hidden;
    font-family: var(--ff-primary);
}

.page-div {
    width: 76%;
    height: 100%;
    background-color: var(--bg-clr);
    font-family: var(--ff-primary);
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    pointer-events: auto;
}

.blog-meta {
    color: var(--grayish);
    padding: 1rem 1.825rem;
}

.blog-meta h1 {
    font-size: 2.825rem;
    font-weight: 500;
    color: var(--clr-primary);
}

.image {
    width: 96%;
    height: 55vh;
    border-radius: 0.625rem;
    margin: auto;
    object-fit: contain;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 9999999999;
}

.modal img {
    max-width: 75%;
    max-height: 90%;
    object-fit: contain;
}

/* Comepletely nuked the theme toggle button here */

.theme-toggle {
    display: none;
}

/* ☢ End of nuke influence ☢ */

.go-back {
    transition: .2s;
    padding: 0.2rem 0.25rem;
    cursor: pointer;
}

.go-back:hover {
    transform: scale(1.01);
}

.go-back span {
    transition: .3s;
}

.go-back:hover span {
    margin-right: 0.325rem;
}

.action-call {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 4rem 0 5.5rem 0 !important;
}

.newsletter {
    width: 52.5%;
    height: 100%;
    background-image: linear-gradient(135deg, #8312A5, #0037A5);
    border-radius: 0.625rem;
    padding: 0.625rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter h3 {
    font-size: 1.125rem;
}

.newsletter span {
    margin: 0.325rem 0;
}

.newsletter input {
    outline: 0;
    border: 0;
    border-radius: 0.325rem;
    width: 80%;
    height: 1.325rem;
    color: #30363d;
    margin: 0.325 0rem;
}

.newsletter button {
    outline: 0;
    border: 0;
    border-radius: 0.325rem;
    color: #fff;
    background-color: rgb(0, 153, 255);
    font-size: 1rem;
    margin: 0.5rem 0;
    padding: 0.2rem 0.325rem;
    font-weight: 300;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: rgb(0, 100, 207);
}

.newsletter input::placeholder {
    color: #929292;
}

.newsletter hr {
    display: none;
}

.wrapper {
    width: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
}

.or-separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #30363d;
}

.vertical-line {
    border-left: 1px solid #30363d;
    flex-grow: 1;
    width: 1px;
}

.bmac {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8f8f8f;
}

.bmac span {
    text-align: center;
    margin: 0.1rem;
    margin-bottom: 0.325rem;
}

@media screen and (max-width: 640px) {
    html {
        font-size: 13px;
    }

    .page-div {
        width: 84%;
        margin: 3.5rem auto;
    }

    .image {
        height: 25vh;
    }

    .newsletter hr {
        display: block;
        visibility: visible;
    }

    .newsletter {
        width: 80%;
        margin: 1rem 0;
    }

    .wrapper {
        display: none;
        width: 100%;
    }

    .action-call {
        flex-direction: column;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .page-div {
        width: 88%;
    }
}

@media screen and (min-width: 1080px) {
    html {
        font-size: 19px;
    }
}

@media screen and (min-width: 1280px) {
    .image {
        height: 65vh;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 22.5px;
    }
}